body {
    background-color: FloralWhite;
}
h1 {
    text-align: center;
}
.head1 {
    background-color: cadetblue;
    color: white;
}
#head2 {
    background-color: beige;
    color: dodgerblue;
}
.upper-content{
    background-color: rgb(22, 12, 1);
}
.footer{
    background-color: rgb(8, 19, 7);
}
.foo{
    background-color: rgb(6, 6, 10);
}
div a {
    background-color: rgb(62, 5, 34;
    padding: 10px;
}
a > h1 {
background-color: blanchedalmond;
color: rgb(54, 45, 121);
}
a + a {
    background-color: rgb(41, 14, 4);
